@font-face {
  font-family: "Gilam";
  src: url(../fonts/Gilam-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Gilam";
  src: url(../fonts/Gilam-Bold.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Circe";
  src: url(../fonts/circe/CRC35.woff2) format("woff2");
  font-weight: 400;
}
