:root {
  --content-width: 1490px;
  --block-gap: 27px;
}
body {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.wrapper {
  max-width: var(--content-width);
  margin: auto;
  padding-left: 23px;
  padding-right: 6px;
}
/* Common properties for blocks*/
.bg-full-width {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
}
.block-header {
  font-size: 50px;
  margin-bottom: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

.block-link {
  width: 100%;
  height: 100%;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 38px;
}
.logo-link {
  line-height: 0.6;
}

.btn {
  border: 1px solid #e4b564;
  min-width: 150px;
  width: fit-content;
  line-height: 2.1rem;
  font-size: 18px;
  font-family: "Circe", sans-serif;
  color: #e4b564;
  background-color: #000;
  text-decoration: none;
  transition: all 1s easy;
}
.btn:hover,
.btn:focus {
  background-color: #e4b564;
  color: #000;
  border-color: #000;
}
.callback-btn {
  display: block;
  padding: 6px 28px 6px 26px;
}

.call-icon,
.call-icon-black {
  padding-right: 5px;
}
.call-icon-black {
  display: none;
}
.callback-btn:hover .call-icon,
.callback-btn:focus .call-icon {
  display: none;
}
.callback-btn:hover .call-icon-black,
.callback-btn:focus .call-icon-black {
  display: inline;
}

.block-services {
  background-image: url(../img/header-bg.jpeg);
  padding-top: 69px;
  padding-bottom: 45px;
}
.services-description {
  font-weight: 700;
  line-height: 1.4;
  margin-top: 26px;
}
.services {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--block-gap);
  justify-content: center;
  padding: 0;
  max-width: var(--content-width);
  width: fit-content;
  margin: 39px auto 0 auto;
  list-style: none;
}

.services-item {
  grid-column: auto / span 2;
  aspect-ratio: 1;
  text-align: center;
}
.services-item:nth-child(4),
.services-item:nth-child(5) {
  grid-column: auto / span 3;
  aspect-ratio: 1.52;
}
.services-item.first-item {
  background-color: #634f2c;
}
.services-item.second-item {
  background-color: #b4a385;
}
.services-item.third-item {
  background-color: #e4b564;
}
.services-item.fourth-item {
  background-color: #635a4a;
}
.services-item.fifth-item {
  background-color: #b08c4d;
}

.services-item:hover {
  border-color: #fff;
  background: rgba(99, 79, 44, 0.3);
}
.services-link {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding: 51px;
  color: #fff;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 700;
}
.services-link:hover {
  text-decoration-line: underline;
  text-underline-position: under;
}

.block-item a:hover {
  text-decoration-line: underline;
  text-underline-position: under;
}

.block-machines {
  background-image: url("../img/parallax-bg.jpeg");
  padding-top: 99px;
  padding-bottom: 139px;
}
.machines {
  display: flex;
  flex-flow: column wrap;
  height: 950px;
  max-width: var(--content-width);
  margin: 76px auto 0 auto;
  padding: 0;
  column-gap: 27px;
  row-gap: 36px;
  justify-content: flex-start;
  justify-items: stretch;
  align-content: center;
  list-style: none;
}

.machines-item {
  width: 32%;
  background-color: transparent;
}

.machines-link {
  display: block;
  padding: 47px 51px;
  line-height: 1.3;
  text-decoration: none;
  color: #fff;
}

.machines-link.first-item-link {
  height: 313px;
  background-color: #0e0e0e;
}
.machines-link.second-item-link {
  height: 560px;
  background-color: #1f1f1f;
}
.machines-link.third-item-link {
  height: 439px;
  background-color: #242424;
}
.machines-link.fourth-item-link {
  height: 405px;
  background-color: #e4b564;
}
.machines-link.fifth-item-link {
  height: 245px;
  background-color: #1f1f1f;
}
.machines-link.sixth-item-link {
  height: 302px;
  background-color: #0e0e0e;
}
.machines-link.seventh-item-link {
  height: 278px;
  background-color: #0a0909;
}
.machines-link:hover {
  background: rgba(99, 79, 44, 0.3);
  text-decoration-line: underline;
  text-underline-position: under;
}

.machines-link p {
  margin: 0;
}
.block-clients {
  background-image: url("../img/header-bg.jpeg");
  padding-top: 161px;
}
.clients-header-wrapper {
  margin-bottom: 62px;
}
.clients-header {
  float: left;
}
.clients-header-wrapper:after {
  content: "";
  clear: both;
  display: block;
}
.show-more-btn {
  display: block;
  background-color: transparent;
  float: right;
  padding: 17px 39px 17px 43px;
  font-size: 18px;
  line-height: 1;
}
.show-more-btn:hover {
  background-color: #e4b564;
}
.clients-cards-wrapper {
  clear: both;
}
.clients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  padding: 0;
  max-width: var(--content-width);
  list-style: none;
}

.clients-item {
  aspect-ratio: 1.25;
  overflow-y: hidden;
}

.clients-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  padding: 80px;
  padding-top: 36px;
  padding-bottom: 36px;
  text-decoration: none;
  color: #fff;
  transition: flex-basis 2s;
}

.clients-link.first-item-link {
  background-color: #634f2c;
}
.clients-link.second-item-link {
  background-color: #eeddbf;
}
.clients-link.third-item-link {
  background-color: #e4b564;
}
.clients-link.fourth-item-link {
  background-color: #635a4a;
}
.clients-link.fifth-item-link {
  background-color: #b08c4d;
}
.clients-link.sixth-item-link {
  background-color: #634f2c;
}
.clients-link:hover {
  padding-top: 36px;
}
.clients-link-wrapper {
  transition: height 2s;
}

.clients-link-description {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0s ease-in-out, opacity 0s;
}
.clients-link:hover .clients-link-description {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-bottom: 25px;
  height: fit-content;
  transition: visibility 2s ease-in-out, opacity 2s;
}
.clients-link-description p {
  margin: 5px 0 2px 0;
  line-height: 1.15;
}
.footer {
  min-height: 120px;
}
@media (max-width: 1280px) {
  :root {
    --info-block-size: 35vh;
    --info-block-gap: 1.5vh;
  }
  .block-header {
    font-size: 35px;
  }
  .block-description,
  .block-link {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  :root {
    --info-block-size: 30vh;
    --info-block-gap: 1vh;
  }
  .machines-link {
    padding: 20px;
  }
  .clients-link:hover .clients-logo {
    display: none;
  }
  .clients-link:hover {
    padding: 20px;
  }
}

@media (max-width: 800px) {
  :root {
    --info-block-size: 25vh;
  }
  .block-header {
    text-align: center;
  }
  .block-description,
  .block-link {
    font-size: 12px;
  }
  .clients-header-wrapper {
    margin-bottom: var(--block-gap);
  }
  .clients-header {
    float: none;
    margin-bottom: var(--block-gap);
  }
  .show-more-btn {
    float: none;
    margin: 0 auto;
  }

  .clients-logo {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .services {
    grid-template-columns: 1fr;
  }
  .services-item {
    grid-column: auto / span 2;
    aspect-ratio: 1.52;
  }
  .machines {
    flex-wrap: nowrap;
    height: fit-content;
    gap: var(--block-gap);
  }
  .machines-item {
    width: 100%;
  }
  .machines-link.first-item-link,
  .machines-link.second-item-link,
  .machines-link.third-item-link,
  .machines-link.fourth-item-link,
  .machines-link.fifth-item-link,
  .machines-link.sixth-item-link,
  .machines-link.seventh-item-link {
    height: 200px;
  }
  .block-clients,
  .block-machines {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .clients {
    grid-template-columns: 1fr;
    row-gap: var(--block-gap);
  }
}

.clients-logo {
  width: 60%;
  height: auto;
}
